{{define "dg2"}}

<h2>DG2 <sub>Encoded Identification Features - Face</sub></h2>
{{if .}}
{{template "fileHexAndTlv" .RawData}}
{{ range .Images }}
    <h3>Image size (bytes): {{len .Image}}</h3>
    <img src="data:image/jpeg;base64, {{.Image | BytesToBase64}}" />
    <br/>
    {{template "fileHex" .Image}}
{{ end }}
{{else}}
<i>No data</i>
{{end}}

{{end}}